body {
  font-family: "Raleway", sans-serif
  font-color: black;
}

/* Hero Section */

#Hero-Section {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Torres_del_Paine_from_Lake_Peho%C3%A9.jpg/1280px-Torres_del_Paine_from_Lake_Peho%C3%A9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
